private/
target/
out/
logs/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### MS Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### macOS ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.run/
# JPA Buddy
.jpb/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
