### MAIN CONFIGURATION ###  (warning: avoid tabs, indent with two spaces)
# see https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

spring:
  http.converters.preferred-json-mapper: jackson
  batch:
    initialize-schema: always
    job.enabled: false
  main.banner-mode: console
  datasource.driver-class-name: org.mariadb.jdbc.Driver
  data.jpa.repositories.bootstrap-mode: deferred
  jpa:
    hibernate.ddl-auto: validate
    open-in-view: false
  flyway.baseline-on-migrate: true

server:
  compression.enabled: false # compression is handled by Nginx proxy
  servlet.application-display-name: manon
  ssl.enabled: false # encryption is handled by Nginx proxy
  undertow.accesslog.enabled: false
  servlet.context-path: "/"

info.app:
  name: manon
  version: @project.version@

management:
  endpoint:
    configprops.enabled: true
    env.enabled: true
    health:
      enabled: true
      show-details: when_authorized
      roles: "ROLE_ACTUATOR"
    info.enabled: true
    mappings.enabled: true
    metrics.enabled: true
    scheduledtasks.enabled: true
  endpoints:
    enabled-by-default: false
    web:
      base-path: /actuator
      exposure.include: ["configprops", "env", "health", "info", "metrics", "scheduledtasks"]

manon:
  default-user:
    actuator:
      username: ACTUATOR
      password: woot
    admin:
      username: ROOT
      password: woot
  batch:
    user-snapshot:
      chunk: 1000
      snapshot.max-age: 30
  performance-recorder.enabled: false
  security.bcrypt.strength: 6
