<?xml version="1.0" encoding="UTF-8"?>
<!-- see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->
<!-- see /org/springframework/boot/logging/logback/defaults.xml -->
<configuration scan="true" scanPeriod="30 seconds" packagingData="true">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/manon.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/manon_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>4GB</totalSizeCap>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <Pattern>%d [%thread] %-5level %logger{36}.%M L.%L [%mdc] %m%n%wEx</Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%clr(%d){faint} %clr([%thread]){magenta} %clr(%-5level) %clr(%logger{36}.%M){cyan} L.%L %clr([%mdc]){blue} %m%n%wEx</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="manon" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="ERROR"/>

</configuration>
