version: '3'

services:

  # ----------------------------------------
  # --- Enrich ELK stack with Cerebro
  # ----------------------------------------

  cerebro:
    container_name: cerebro
    image: lmenezes/cerebro:0.9.2 # see https://hub.docker.com/r/lmenezes/cerebro/tags
    ports:
      - "9000:9000"
    volumes:
      - ./cerebro/cerebro.conf:/opt/cerebro/conf/application.conf:ro
