<?xml version="1.0" encoding="UTF-8"?>
<!-- see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->
<!-- see /org/springframework/boot/logging/logback/defaults.xml -->
<configuration scan="false" packagingData="true">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/manon-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/manon-test_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <Pattern>%d [%thread] %-5level %logger{36}.%M L.%L [%mdc] %m%n%wEx</Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%clr(%d){faint} %clr([%thread]){magenta} %clr(%-5level) %clr(%logger{36}.%M){cyan} L.%L %clr([%mdc]){blue} %m%n%wEx</Pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="manon" level="TRACE"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="ERROR"/>

    <!-- Hamcrests reports may be useless while using JsonUnit. Helpful messages are logged at DEBUG level by JsonUnit. -->
    <!-- see https://github.com/lukas-krecan/JsonUnit#logging -->
    <logger name="net.javacrumbs.jsonunit.difference" level="DEBUG"/>

    <!-- Don't care about Spring Integration Testing related INFO messages. -->
    <logger name="org.springframework.orm" level="WARN"/>
    <logger name="org.springframework.scheduling" level="WARN"/>
    <logger name="org.springframework.boot.test" level="WARN"/>
    <logger name="org.springframework.test" level="WARN"/>

</configuration>
